<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166493160455-ujsjqn3tacf26nub87ck46pv4ahv33g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166493160455-ujsjqn3tacf26nub87ck46pv4ahv33g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>166493160455-hm3m3nsjtpctfik6khdp96a2mvofs17d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuHmAi_YojEa7uZl0-71UFCOa4ynsBkc8</string>
	<key>GCM_SENDER_ID</key>
	<string>166493160455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peopleracingcar.linking</string>
	<key>PROJECT_ID</key>
	<string>national-racer-e4fae</string>
	<key>STORAGE_BUCKET</key>
	<string>national-racer-e4fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166493160455:ios:75d5af6cc76300bdf456a2</string>
	<key>DATABASE_URL</key>
	<string>https://national-racer-e4fae.firebaseio.com</string>
</dict>
</plist>